snippet sign "Signature"
With kind regards,

Jan Stevens
endsnippet

snippet teken "Tekenen"
Met vriendelijke groet,

Jan Stevens
endsnippet

snippet today "Date"
`date +%F`
endsnippet

snippet Template_Paper "Template_Paper"
									= $1 =
* *Authors*: $2
* *DOI*:
* *Date Published*: $3
* *Tags*: $4

=== Abstract ===



----

endsnippet


