snippet sign "Signature"
With kind regards,

Jan Stevens
endsnippet

snippet teken "Tekenen"
Met vriendelijke groet,

Jan Stevens
endsnippet

snippet today "Date"
`date +%F`
endsnippet

snippet d1f "Diarynote Tpl Full (Tomorrow)" w
# [ ] `env LC_ALL=en_US.utf8 date --date="tomorrow" "+%Y.%m.%d %A"`

Completed Today:
  - ...
endsnippet

